Repository aiyuuu033119/TaskFlow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fx
  .github/workflows/deploy.yml
Due: none

fx
  .github/workflows/ci.yml
  .github/workflows/ci.yml.bak
  .size-limit.json
  CI_CD_SETUP.md
  VERCEL_DEPLOYMENT.md
  e2e/homepage.spec.ts
  playwright.config.production.ts
  playwright.config.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fx
  vercel.json
Due: prettier --write

docs: update components
  .claude/settings.local.json
  .env.example
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/ci.yml.bak
  .gitignore
  README.md
  TODO.md
  components/empty-state-demo.tsx
  components/task-manager-demo.tsx
  components/task-manager.tsx
  next.config.mjs
  package-lock.json
  package.json
  prisma/migrations/20250601152448_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  scripts/setup-ci.sh
  scripts/test-api.js
  scripts/test-error-handling.js
  scripts/test-sanitization-simple.js
  scripts/test-validation-sanitization.js
  vercel.json
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

style: Auto-fix formatting issues
  .claude/settings.local.json
Due: prettier --write

docs: add 4 files,update 1 files,remove 1 files
  .github/branch-protection.json
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  docs/CI_CD_GUIDE.md
  docs/DEVELOPMENT_PROCESS.md
Due: prettier --write

style: Auto-fix formatting issues
  .github/branch-protection.json
Due: prettier --write

fx
  .github/branch-protection.json
  .github/workflows/README.md
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  docs/CI_CD_GUIDE.md
Due: prettier --write

fx
  package-lock.json
  package.json
Due: prettier --write

docs: update components
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/ci.yml.bak
  README.md
  components/keyboard-shortcuts-dialog.tsx
  components/task-card.tsx
  components/task-list.tsx
  components/task-manager-api.tsx
  hooks/use-focus-management.ts
  hooks/use-keyboard-navigation.ts
  next.config.mjs
  prisma/migrations/20250601152448_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

docs: add 1 files,update 8 files
  .claude/settings.local.json
  .env.example
  README.md
  docs/DATABASE_SETUP.md
  docs/DEVELOPMENT.md
  lib/prisma.ts
  package-lock.json
  package.json
  prisma/migrations/20250601152448_init/migration.sql
  prisma/migrations/20250601175531_init/migration.sql
  prisma/migrations/migration_lock.toml
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

style: Auto-fix formatting issues
  .claude/settings.local.json
  components/keyboard-shortcuts-dialog.tsx
  components/task-list.tsx
  components/task-manager-api.tsx
  hooks/use-focus-management.ts
  hooks/use-keyboard-navigation.ts
  lib/prisma.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fx
  components/task-list.tsx
  hooks/use-keyboard-navigation.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fx
  .claude/settings.local.json
  app/assets/globals.css
  app/layout.tsx
  app/theme-script.tsx
  components/keyboard-shortcuts-dialog.tsx
  components/task-filter.tsx
  components/task-form.tsx
  components/task-list.tsx
  components/task-manager-api.tsx
  components/theme-toggle.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/checkbox.tsx
  components/ui/dialog.tsx
  components/ui/input.tsx
  components/ui/progress.tsx
  components/ui/select.tsx
  components/ui/toast.tsx
  components/ui/toaster.tsx
  hooks/use-keyboard-navigation.ts
  hooks/use-toast.ts
  lib/theme-provider.tsx
  postcss.config.mjs
  prisma/migrations/20250601175531_init/migration.sql
  prisma/migrations/migration_lock.toml
  scripts/fetch-merge-github.sh
  tailwind.config.js
  types/index.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fx error
  .husky/pre-commit
  components/task-filter.tsx
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fix: update components
  .claude/settings.local.json
  components/task-card.tsx
  components/task-filter.tsx
  components/task-form.tsx
  components/task-manager-api.tsx
  lib/api-client.ts
  lib/validations/task.ts
  prisma/migrations/20250602102532_add_deadline_field/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  types/task.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

style: Auto-fix formatting issues
  .claude/settings.local.json
  components/task-form.tsx
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

fix: convert script to Unix line endings
  scripts/fetch-merge-github.sh
Due: none

docs: update hooks
  .claude/settings.local.json
  TODO.md
  app/api/tasks/[id]/route.ts
  app/api/tasks/route.ts
  app/error.tsx
  app/global-error.tsx
  app/layout.tsx
  app/loading.tsx
  app/not-found.tsx
  components/notification-test.tsx
  components/reminder-notification.tsx
  components/task-card.tsx
  components/task-form.tsx
  components/task-manager-api.tsx
  hooks/use-reminders.ts
  lib/api-client.ts
  lib/notifications.ts
  lib/validations/task.ts
  prisma/schema.prisma
  types/task.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

style: Auto-fix formatting issues
  .claude/settings.local.json
  app/api/tasks/[id]/route.ts
  app/api/tasks/route.ts
  app/error.tsx
  app/global-error.tsx
  app/loading.tsx
  app/not-found.tsx
  components/notification-test.tsx
  components/reminder-notification.tsx
  components/task-form.tsx
  hooks/use-reminders.ts
  lib/notifications.ts
Due: eslint --fix --rule '@typescript-eslint/no-explicit-any: off', prettier --write

Path conditions:
  eslint --fix --rule '@typescript-eslint/no-explicit-any: off': any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,mdx})
